<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NLog.Targets.Seq"/>
  </extensions>
  <variable name="jsonLayout">
    <layout type="JsonLayout" includeEventProperties="True">
      <attribute name="machine" layout="${machinename}" />
      <attribute name="timestamp" layout="${longdate}" />
      <attribute name="threadId" layout="${threadId}" />
      <attribute name="category" layout="${level:upperCase=true}" />
      <attribute name="logger" layout="${logger}" />
      <attribute name="callerInfo" layout="${callsite:fileName=True}" />
      <attribute name="message" layout="${message}" />
      <attribute name="exception" layout="${exception:format=tostring}" />
    </layout>
  </variable>
  <targets async="true" autoreload="true">
    <target name="console" xsi:type="Console" />
    <target name="seq" xsi:type="BufferingWrapper" bufferSize="1000" flushTimeout="2000" slidingTimeout="false">
      <target xsi:type="Seq" serverUrl="http://logs:5341" layout="${jsonLayout}" />
    </target>
    <target name="trace"
        xsi:type="File"
        layout="${jsonLayout}"
        fileName="/var/logs/contactService/trace.log"
        archiveFileName="/var/logs/contactService/archives/trace.{#}.log.zip"
        archiveEvery="Day"
        archiveNumbering="DateAndSequence"
        archiveDateFormat="yyyyMMdd"
        archiveOldFileOnStartup="true"
        enableArchiveFileCompression="true" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="seq" />
    <logger name="*" minLevel="Trace" writeTo="trace" />
  </rules>
</nlog>
