<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>{0}</title>
</head>
<body>
    <p>A password reset was recently requested for the Hirameku account associated with this email address. If this was you, please use <a href="{1}">this link</a> to reset your password.{2}</p>
    <p>If this was not you, consider using the link to change your password anyway. This will prevent anyone else from using the link. Additionally, you might want to change your username, as another party either knows it or was able to guess it. We are unable to prevent unauthorized individuals from using the Forgot Password function, so having a username that is not easily guessed is the only defense against this kind of abuse.</p>
</body>
</html>