<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>{0}</title>
</head>
<body>
    <p>A Hirameku account was recently created for your email address. If this was you, please use <a href="{1}">this link</a> to verify your account.{2}</p>
    <p>If it was not you, please use <a href="{3}">this link</a> to report the misuse of your email. The corresponding Hirameku account will be suspended, and your email address will be barred from further use on the site.</p>
</body>
</html>